*{
    padding: 0;
    margin: 0;


}
@font-face {
    font-family: Inter;
    src: url(../font/Inter-Medium.ttf) format("truetype");
    font-weight: medium ;
}
@font-face {
    font-family: semi-bold;
    src: url(../font/Inter-SemiBold.ttf);
}

/* dsk */
/* backgroud espacial */
.back{
    background-image: url("../img/background.jpg");
}

/* header */
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.60);
    height: 6vh;
    width: 100vw;

}
.top img{
    width: auto;
    height: 40px;
    margin-left: 20px;
}
.top h2{
    font-size: 2.5rem;
}
/* header__menu-hamburguer */
.menu__itens {
    display: flex;
    justify-content: center;
    width: 33vw;
    
}
.menu__item{
    list-style-type: none;
    width: 20%;
}
.menu__link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: rgb(211, 211, 211);
    height: 16px;
    width: 100%;
    transition: background-color 1s ease, color 0.5s ease;
}
.menu__link:hover{
    color:rgb(255, 255, 255);
    font-size: 20px;
    border-radius: 8px;
    
}
.menu__hamb, .top__menu input {
display: none;
}

.carrossel{
    color: #fff;
    /* display: flex;
    flex-direction: column; */
    padding: 60px 0 0 100px;
}
.carrossel h3{
    border-bottom:1px solid #fff;
    font-size: 2rem;
}
.carrossel__rolagem{
    margin-top: 20px;
    display: flex;
    gap: 32px;
}
.carrossel img{
    width: ;
}


/* min 320 max 650 medida de cell*/